header {
    width: 100%;
    padding: 0;
    margin: 0;
}

.top-nav {
    position: relative;   /* needed so ul::after is positioned relative to the whole nav */
    width: 100%;          /* make the nav span the page width */
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    gap: 15px;
    /* ignore margin */
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.top-nav li a {
    position: relative; /* keep links above the full-width bar */
    z-index: 1;
    display: block;
    color: #333;
    padding: 14px 7px;
    text-decoration: none;
}

.top-nav li a.current {
    color: #17459b;
}

.top-nav li a:hover {
    color: #17459b;
    transition: color 0.3s ease;
}


/* full-width grey bar across the page */
.top-nav::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%; 
    bottom: 6px;           /* adjust if you want the bar a few pixels lower/higher */
    height: 2px;
    background-color: #ccc;
    z-index: 0;
    margin-left: -1rem;
    margin-right: -0.5rem;
}

/* underline */
.top-nav li a::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 6px; /* distance from link bottom */
    height: 0px;
    background-color: transparent; /* transparent */
    border-radius: 0px;
    transition: background-color 0.2s ease, height 0.15s ease;
}

/* thick hover blue line */
.top-nav li a:hover::after {
    height: 3px;
    background-color: #17459b;
    left: 0%;
    right: 0%;
}

.top-nav li a.current::after {
    height: 3px;
    background-color: #17459b;
}

@media screen and (max-width: 768px) {
  .top-nav {
    flex-direction: column; /* Vertical */
    width: 100%;
    gap: 10px;
    padding: 0;
  }
  
  .nav-links li {
    width: 100%; /* Ensures links' area take up full width */
  }
}
